@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}
h4{
    font-size: 20px;
}

table{

    border-collapse: collapse;
    margin-bottom: 20px;
}

td{
    padding: 10px 20px;
    border: 1px solid grey;

}
td:hover{
    background-color: #c3c3c3;
}
.remove{
    background-color: black;
    color: white;
    font-weight: 600;
    content: '+';
    text-align: center;
}
.settings{

}